
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env*.local
/.env
/public/bundles/
/var/
/vendor/
/.idea
/bin
/composer.lock
/symfony.lock
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/src/Service/firebase-service-account.json
